div.JobInfo {
   
    
    border-radius: 8px;

    backdrop-filter: blur(.3rem);
    margin-top: 1rem;
    margin-bottom: 1rem;

    background-color: rgba(255,255,255,0.3);
    background-size: cover;

    
    display:flex ;
    flex-direction: column;
    align-items: center;
    
   
}

div.JobTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}