
div.tag{
    height: 1.5rem; 
    max-width: 12%;
    line-height: 1.5rem;
    border-radius: 3px;
    color: white;
    padding: 0 1rem 0 1rem; 
    background-image: linear-gradient(to right, rgba(100, 70, 180, 1), rgb(27, 30, 211))
}